<h1>Books</h1>
<table>
  <thead>
      <tr>
          <th>title</th>
          <th>body</th>
      </tr>
  </thead>
  <tbody>
      <% @books.each do |bood| %>
      <tr>
          <td><%= book.title %></td>
          <tb><%= book.body %></tb>
          <tb><%= link_to 'Show',book_path(book.id) %></tb>
          <tb><%= link_to 'Edit',edit_book_path(book.id) %></tb>
          <tb><%= link_to 'Destroy',book_path(book.id),method: :delete %></tb>
      </tr>
  </tbody>
  </table>